* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.boton:hover {
    background-image: linear-gradient(to left, #0000FE, #00F0B8 );
    transition: all 1s;
}
header {
    margin: auto;
    width: 100vw;
    height: 80px;
    display: flex;
}

.fa-bars {
    display: none;
}

.list-container-responsive {
    display: none;
}

.a-episodios, .a-nosotros{
    text-decoration: none;
    color: black;

}

.icono {
    transition: all 1s;
    width: 35px;
    margin-left: 100px;
    z-index: 10;
}

.fa-times {
    display: none;
}

.responsive-img {
    display: none;
}


input {
    display: none;
}

.nav-container {
    display: flex;
    width: 100vw;
    justify-content: flex-end;
    }


.list, .list-container {
    display: flex;
    width: 90%;
    justify-content: flex-end;
    flex-wrap: wrap;
    
}

.list-items {
    display: flex;
    font-family:'IBM Plex Mono', monospace;
    width: 130px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    text-decoration: none;
}


.list-items:visited {
    color: #060A24;
}

.list-items:not(:visited) {
    color: #060A24;
}

.list-items:hover {
    color: #00F3BB;
}



.list-items:active {
    color: #060A24;
    opacity: 56%;
    text-decoration: line-through;

}

    .main-container {
        width: 100vw;
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .main-section {
        width: 80vw;
        margin: auto;
        padding: 80px 0px 0px 40px;
        z-index: 0;
    }

    .main-title {
        display: inline-block;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 64px;
        font-weight: 400;
        height: 85px;
        flex-shrink: 0,5;
    }

    .blue-dot {
        color: #0000EC;
    }

    .main-subtitle {
        font-family: 'IBM Plex Mono', monospace;
        font-size: 16px;
        font-weight: 400;
        padding-top: 25px;
        max-width: 50%;
        text-align: justify;
    }

    .boton {
        display: flex;
        font-family: 'IBM Plex Mono', monospace;
        width: 226px;
        height: 56px;
        justify-content: center;
        align-items: center;
        margin-top: 56px;
        background-color: #00F3BB;
        text-decoration: none;
        color: #060A24;
        font-weight: 500;
        border: none;
        font-size: 16px;
        
    }


    .iframe-section-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100vw;
        clip-path: polygon(0% 12%, 100% 0%, 100% 88%, 0% 100%);
        background-image: linear-gradient(to bottom, #0000FF, #0000A3);
        z-index: 3;

    }

    .iframe-section {
        width: 100vw;
        height: 1043px;
    }

    .iframe-title {
        width: 100vw;
        padding: 200px 0px 20px 140px;
        font-family: 'IBM Plex Sans', sans-serif;
        color: white;
        font-size: 48px;
        font-weight: 300;
    }

    .iframe-item-container {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100vw;
        align-self: flex-start;
    }

    .iframe-item {
        width: 40vw;
        margin-bottom: 20px;
        margin-right: 20px;
        border: none;
        background-color: transparent;
    }

    .donde-container {
        margin: auto;
        width: 80vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .donde-img {
        height: 599px;
        width: 400px;
        margin: -150px auto 0px;
        z-index: 5;
    }

    .donde-aside-container {
        font-family: 'IBM Plex Sans', sans-serif;
        width: 40vw;
        height: 545px;
    }

    .donde-title {
        width: 40vw;
        text-align: left;
        font-size: 48px;
        font-weight: 300;
        margin-right: 50px;
    }

    .donde-p {
        height: 204px;
        width: 70%;
        text-align: left;
        font-size: 16px;
        font-family: 'IBM Plex Mono', monospace;
        margin-top: 25px;
        margin-right: 50px;
        
    }

    .inv-container {
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 1;
    }

    .inv-title {
        width: 100vw;
        font-size: 48px;
        color: #060A24;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 300;
        padding: 10px 0px 30px 120px;
    }

    .inv-items {
        width: 33.3%;
    }

    .temas-container {
        display: flex;
        flex-wrap: wrap;
    }

    .temas-title {
        font-size: 48px;
        color: #060A24;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 300;
        width: 100vw;
        padding: 50px 0px 50px 120px;
        flex-shrink: 1;
    }

    img .temas-items {
        width: 110px;
    }


    .temas-subtitle {
        font-size: 24px;
        color: #060A24;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: bold;
        padding: 20px 0px 20px 0px;
        text-align: center;
    }

    .icon-text-container {
        display: flex;
        flex-wrap: wrap;
        width: auto;
        justify-content: space-evenly;
        flex-shrink: 1;
    }

    .icon-text {
        width: 25vw;
        text-align: center;
    }

    .novedades-container {
        display: flex;
        width: 100vw;
        flex-direction: column;
        clip-path: polygon(0% 20%, 100% 0%, 100% 100%, 0% 100%);
        background-image: linear-gradient(to right, #0000A3, #0000FF);
        height: 450px;
        align-items: center;
        justify-content: center;
    }

    .novedades-title {
        width: 80vw;
        font-size: 48px;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 400;
        color: white;
        padding-bottom: 25px;
        text-align: center;
    }

    .novedades-button {
        width: 345px;
        height: 56px;
        font-size: 16px;
        font-family: 'IBM Plex Mono', monospace;
        font-weight: 500;
        color: #060A24;
        background-color: #00F3BB;
        border: none;
        cursor: pointer;
    }

    .footer-container {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .footer-div-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .footer-p {
        color: #060A24;
        width: 50vw;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 16px;
    }

    .footer-icon-container {
        height: 50px;
        width: 30vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
    }

    .footer-icon {
        color: #060A24;
        font-size: 18px;
    }



    @media screen and (max-width: 800px) {
        .list-items {
            width: 100px;
        }
    
        .icono {
            margin-left: 50px;
            transition: all 1s;
        }

        .boton {
            margin-top: 20px;
        }

        .iframe-title {
            padding: 150px 0px 20px 100px;
        }

        .iframe-section {
            height: 950px;
        }

        .donde-p {
            width: auto;
            margin: 15px auto;
        }

        .inv-title {
            font-size: 36px;
            padding: 0px 0px 30px 100px;
        }

        .temas-title {
            font-size: 36px;
            padding: 50px 0px 50px 100px;
        }

        .novedades-container {
            margin-top: 15px;
        }

        .novedades-title {
            font-size: 36px;
            text-align: center;
        }

        .novedades-button {
            width: 288px;
            height: 48px;
            font-size: 16px;
        }

        .footer-container {
            height: auto;
            padding: 30px;
            justify-content: center;
    
        }
    
        .footer-div-container {
            flex-direction: column;
            justify-content: center;
        }
    
        .footer-p {
            font-size: 14px;
            text-align: center;
        }
    
        .footer-icon-container {
            width: 50vw;
            height: auto;
            padding: 20px 0px 0px 0px;
        }
    
        .footer-icon {
            font-size: 16px;
        }

    }

    @media screen and (max-width: 614px) {
        html {
            width: 100vw;
        }

        .list {
            display: none;
        }
        
        header {
            width: 100vw;
            background-color: white;
        }
    
        .icono {
            margin-left: 30px;
        }
    
        .fa-bars, .fa-times{
            display: flex;
            font-size: 25px;
            margin-top: 27.5px;
            margin-right: 35px;
            z-index: 10;
            color: black;
        }
    


        .menu-ico {
            display: flex;
            width: 100vw;
            justify-content: flex-end;
            
        }

        input:checked ~ .list-container-responsive {
            margin-top: 70px;
            width: 100vw;
            height: 500px;
            justify-content: flex-start;
            align-items: flex-end;
            text-align: right;
        }

        .responsive-ul {
            font-family: 'IBM Plex Sans', sans-serif;
            color: #060A24 ;
            font-size: 16px;
        }

        input:checked ~ .responsive-ul {
            display: flex;

        }

        input:checked ~ label > .fa-bars {
            display: none;
        }

        input:not(:checked) ~ label > .fa-times {
            display: none;
        }

        input {
            display: none;
        }

        .list-container-responsive {
            list-style-type: none;
            width: 100vw;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            color: white;
            padding-left: 0px;
            padding-bottom: 20px;
            position: absolute;
            margin-right: 0;
            margin-top: -500px;
            background-color: #0000A3;
            flex-shrink: 1;
            z-index: 2;
        }
        
        

        .responsive-ul-items {
            padding: 5px;
            display: flex;
            text-decoration: none;
            color: white;
            width: 35vw;
            padding: 25px 0px 10px 15px;

        }

        .primero {
            margin-top: 30px;
        }
    
    
        .main-container {
            width: 100vw;
            height: auto;

        }
    
        .main-section {
            padding-top: 50px;
            width: 100vw;
            display: flex;
            flex-direction: column;      
        }
    
        .main-title {
            height: auto;
            font-family: 'IBM Plex Sans', sans-serif;
            font-size: 45px;
            margin-right: 40px;
            flex-shrink: 0,5;
            line-height: 45px;
        }

        .main-subtitle {
            padding-top: 20px;
            width: 100vw;
            font-size: 14px;
            text-align: justify;
        }

        .boton {
            margin-top: 30px;
            width: 170px;
            height: 42px;
        }

        .iframe-section-container {
            clip-path: polygon(0% 5%, 100% 0%, 100% 95%, 0% 100%);
            background-image: linear-gradient(to bottom, #0000FF, #0000A3);
        }

        .iframe-section {
            width: 100vw;
            height: 1350px;
        }

        .iframe-title {
            font-size: 40px;
            padding: 100px 0px 20px 40px;
        }

        .iframe-item {
            width: 80vw;
        }

        .donde-container {
            justify-content: flex-start;
            height: 800px;
        }

        .donde-img {
            margin: -120px auto 0px;
            width: auto;
        }

        .donde-title {
            font-size: 36px;
        }

        .donde-p {
            width: 80vw;
            justify-content: flex-start;
            font-size: 14px;
        }

        .inv-title {
            padding: 0px 0px 10px 40px;
        }

        .icon-text-container {
            flex-direction: column;
            width: 100vw;
            align-content: center;
            justify-content: space-evenly;
            height: 1000px;
        }

        .icon-text {
            width: 50vw;
        }

        .temas-title {
            padding: 30px 0px 0px 40px;
        }

        .temas-subtitle {

            font-size: 24px;
        }
    }

    @media screen and (max-width: 400px) {
        
        .main-container {
            width: 100vw;
            height: auto;
        }
    
        .main-section {
            width: 100vw;
            height: 320px;
            padding-left: 50px;
            padding-top: 50px;
        }
    
        .main-title {
            font-family: 'IBM Plex Sans', sans-serif;
            font-size: 38px;
            line-height: 35px;
            margin-right: 10px;
            flex-shrink: 1;
        }

        .main-subtitle {
            display: inline-block;
            font-size: 14px;
            text-align: justify;
            min-width: 80%;
            padding-top: 20px;

        }


        .boton {
            width: 150px;
            height: 40px;
            font-size: 15px;
        }

        .iframe-section-container {
            clip-path: polygon(0% 3%, 100% 0%, 100% 97%, 0% 100%);
            background-image: linear-gradient(to bottom, #0000FF, #0000A3);
        }

        .iframe-section {
            height: 1200px;
        }

        .iframe-title {
            padding: 50px 0px 10px 40px;
            font-size: 35px;
        }

        .donde-container {
            justify-content: flex-start;
            align-items: flex-start;
            height: 720px;
        }   

        .donde-title {
            width: 250px;
        }

        .donde-img {
            width: 250px;
            height: 400px;
            margin: -70px auto 10px;
        }

        .novedades-container {
            height: 380px;
        }
    }

